{% extends 'main_base_site.html' %}
{% load static %}
{% block main_stylesheets %}
<link rel="stylesheet" href="{% static 'css/.css' %}">
{% endblock %}
{% block custom_stylesheets %}
<style media="screen">

</style>
{% endblock %}
{% block preloader %}

{% endblock %}
{% block header %}

{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}

{% endblock %}
{% block main_scripts %}
<script src="{% static 'js/.js' %}" charset="utf-8"></script>
{% endblock %}
{% block custom_scripts %}
<script type="text/javascript">

</script>
{% endblock %}
